.agregar {
    background-color: green;
    height: 4em;
    width: 8em;
    color: black;
}
.lista {
    font-size: 30px;
    text-align: center;
    height: 3em;
    padding-top: 1rem;
}
.seleccionar{
    height: 3em;
    width: 30%;

}
.borrar {
    background-color: red;
    width: 5em;
    border-radius: 2em;
}

.input {
    text-align: center;
    height: 8em;
}
.tareas {
    font-size: 25px;
  }


  .move-down-left {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    margin: 0; 
    background-color: orange;
    width: 100%;
  }

  .fecha {
    font-size: small;
    color: gray;
  }
   .body {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
   }
   .body::before {
    background-color: rgba(0, 0, 0, 0.2); /* Cambia el último valor (0.5) para ajustar la opacidad */
}
.container{
  background-color: aliceblue;
}


  