<h1 class="lista">Lista</h1>

<div class="input">
<input type="text" class="seleccionar" [(ngModel)]="textoInput" (keydown.enter)="agregar()">
<button  class="btn agregar" (click)="agregar()">AGREGAR
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
      </svg>
</button>
</div>

<div class="container">
<div class="seccion">
    <p class="tareas"> Pendientes <button class="borrar" (click)="setBorrar('P')" *ngIf="listaPendientes.length > 0">Borrar {{ listaPendientes.length }}  </button></p>
    <ul>
        <li *ngFor="let item of listaPendientes; let posicion = index">
            <input type="checkbox"  [(ngModel)]="item.hecho" (change)="setHecho(posicion)"> 
            {{item.valor}} 
            <span class="fecha">
                {{item.fecha | date:'dd/MM/yy HH:mm:ss'}}
            </span>
        </li>
    </ul> 
</div> 

 <div class="seccion2">
    <p class="tareas">Hechas <button class="borrar" (click)="setBorrar('H')" *ngIf="listaHecho.length > 0">Borrar {{ listaHecho.length }}</button></p>
    <ul>
        <li *ngFor="let item of listaHecho; let i = index">
            <input type="checkbox" [(ngModel)]="item.hecho" (change)="setMover(i)">
            {{item.valor}} 
            <span class="fecha">
                {{item.fecha | date:'dd/MM/yy HH:mm:ss'}}
            </span>
        </li>
    </ul>
</div>
</div>

<div class="move-down-left">
<p>Última modificación: {{ ultimaModificacion | date:'dd/MM/yyyy HH:mm:ss' }}</p>
</div>
